/* Font-face: Basics */

/* standard/normal */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosansregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
/* light  */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
/* bold */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosansbold.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
/* extra bold */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosansbold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
/* italics */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosansregular-italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
/* italics bold */
@font-face {
  font-family: PlutoSans;
  src: url("../fonts/plutosansbold-italic.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

html {
  text-rendering: optimizeLegibility !important; */
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: PlutoSans;
  font-size: 12px;
  height: 100%;
}

body {
  font-family: PlutoSans;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

input,
textarea,
text {
  font-family: PlutoSans;
}

body.fontLoaded {
  font-family: PlutoSans;
}

#app {
  min-width: 100%;
  min-height: 100%;
}

p,
label {
  line-height: 1.5em;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/